<!--<div class="promo">
    <span>Vente FLASH 80% de Réduction</span>
</div>
<header class="header">
    <nav class="nav container">
        <div class="navigation d-flex">
            <div class="icon1">
                <i class='bx bx-menu'></i>
            </div>
            <div class="logo">
                <a href="index.html"><span>T</span>ek-up</a>
            </div>
            <div class="menu">
                <div class="top">
                    <span class="fermer">Fermer <i class='bx bx-x'></i></span>
                </div>
                <ul class="nav_list d-flex">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="products.html" class="nav-link">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="./apropo.html" class="nav-link">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-outline-success" type="submit" onclick="search.php">Search</button>
              </form>
            <div class="icons d-flex">
                
                <a href="./account.html"><div><i class='bx bx-user'></i></div></a>
                <div><i class='bx bx-heart'></i></div>
                <div>
                   <a href="./cart.html"><i class='bx bx-shopping-bag'></i></a>
                    <span class="align-center">0</span>    
                </div>
            </div>
        </div>
    </nav>
    <div class="banniere">
        <div class="banniere-contenu d-flex container">
            <div class="gauche">
                <span class="Sous-titre">OBTENEZ VOTRE COLLECTION PRINTEMPS</span>
                <h1 class="titre">
                    Jusqu'à
                    <span class="coleur">80% <br/>
                       de réduction</span>
                       sur <br/>
                       nos offre de chaque moi 
                </h1>
                <h5>Du 5 Avril au 5 mai 2022</h5>
                <a href="./products.html" class="btn">ACHETEZ MAINTENANT</a>
            </div>
            <div class="droit">
                <img src="./Image/banner_1.png" alt="">
            </div>
        </div>
    </div>
</header>


<header class="header">
    <nav class="nav container">
        <div class="navigation d-flex">
            <div class="icon1">
                <i class='bx bx-menu'></i>
            </div>
            <div class="logo">
                <a href="index.html"><span>T</span>ek-up</a>
            </div>
            <div class="menu">
                <div class="top">
                    <span class="fermer">Fermer <i class='bx bx-x'></i></span>
                </div>
                <ul class="nav_list d-flex">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="products.html" class="nav-link">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="./apropo.html" class="nav-link">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-outline-success" type="submit" onclick="search.php">Search</button>
              </form>
            <div class="icons d-flex">
                
                <a href="./account.html"><div><i class='bx bx-user'></i></div></a>
                <div><i class='bx bx-heart'></i></div>
                <div>
                   <a href="./cart.html"><i class='bx bx-shopping-bag'></i></a>
                    <span class="align-center">0</span>    
                </div>
            </div>
        </div>
    </nav>
</header>
-->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
          <a class="navbar-brand" routerLink="home" id="logo"><img src="../../assets/images/logop.png" width="50px"><span>T</span>ravel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
             
              <li class="nav-item">
                <a class="nav-link" routerLink="hotel">Hotels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="voiture">Voitures</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="vol">Vol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="voyage">Voyages Organisées</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="visa">Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="gallerie">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#packages"></a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form> 
            
          </div>
        </div>
      </nav>
    <!-- Navbar End -->