
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>ENTREPRISE</h3>
                <a href="#">Marque</a>
                <a href="#">Code promo</a>
                <a href="#">Offre speciale</a>
                <a href="#">Affilié</a>
                <a href="#">Carte de site</a>
            </div>
            <div class="footer-center">
                <h3>ENTREPRISE</h3>
                <a href="#">Marque</a>
                <a href="#">Code promo</a>
                <a href="#">Offre speciale</a>
                <a href="#">Affilié</a>
                <a href="#">Carte de site</a>
            </div>
            <div class="footer-center">
                <h3>ENTREPRISE</h3>
                <a href="#">Marque</a>
                <a href="#">Code promo</a>
                <a href="#">Offre speciale</a>
                <a href="#">Affilié</a>
                <a href="#">Carte de site</a>
            </div>
            <div class="footer-center">
                <h3>CONTACTE NOUS</h3>
                <div>
                    <span>
                        <i class="fa fa-map-marker-alt"></i>
                    </span>
                    Avenue Tunise ,Bab bhar
                </div>
                <div>
                    <span>
                        <i class="fa fa-envelope" ></i>
                    </span>
                    CadeauxDesAmis@gmail.com
                </div>
                <div>
                    <span>
                        <i class="fa fa-phone" ></i>
                    </span>
                    71 326 753
                </div>
                <div>
                    <span>
                        <i class="fa fa-paper-plane"></i>
                    </span>
                    Tunisie poure de France
                </div>
            </div>
        </div>
    </div>
    <div class="copyright ">&#169;&nbsp;
        All Rights Reserved©2024
        <a href="#">Ihab's</a>
    </div>
   
</footer>