  <!-- About Start -->
  <section class="about" id="about">
    <div class="container">

      <div class="main-txt">
        <h1>About <span>Nous</span></h1>
      </div>

      <div class="row" style="margin-top: 50px;">

        <div class="col-md-6 py-3 py-md-0">
          <div class="card">
            <img src="../../assets/images/about-img.png" alt="">
          </div>
        </div>

        <div class="col-md-6 py-3 py-md-0">
          <h2>Agence du voyage</h2>
          <p>Elle offre la possibilité de créer des souvenirs inoubliables en toute sérénité, en permettant aux voyageurs de se concentrer sur l'essentiel : l'exploration, la découverte et l'immersion dans de nouvelles cultures.</p>
          <button id="about-btn">Read More...</button>
        </div>

      </div>

    </div>
  </section>
  <!-- About End -->