body {font-family:Sakkal Majalla, Verdana, Arial; font-size:14pt;}
td {font-family:Sakkal Majalla, Verdana, Arial; font-size:14pt; direction:rtl;PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-BOTTOM: 5px;  PADDING-TOP: 5px;border-left-width: 1; border-right-width: 1; border-top-width: 1; border-bottom: 1px solid #ffffff; }
a:link {color: #003399; text-decoration: none; background-color: transparent;}
a:visited {color: #003399; text-decoration: none; background-color: transparent;}
a:hover {color: #D68000; text-decoration: underline; background-color: transparent;}